body {background-image: url("wishlistimg.jpg")}

#boks {background-color: white; margin-left: 39%; width: 20%; margin-top: 13%; font-size: 230%;text-align: center; border: 2px solid black; padding-bottom: 1%}
#blinkfuck {margin-bottom: 5%}
label {text-align: center; font-size: 70%}
#login {padding-bottom: 10%; padding-top: 1%}
input, button {text-align: center; font-size: 75%}

