body {
    background-image: url("https://wallpapercave.com/wp/wp3218549.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {padding-bottom: 5%}
#boks {
    width: 26%;
    margin-top: 9%;
    font-size: 230%;
    text-align: center;

    padding-bottom: 1%
}

input{
    text-align: center;
    font-size: 75%
}
#submit {width: 28%;}
.btn-primary {
    background-color: rgb(238, 130, 238);
    border-color: rgb(238, 130, 238)
}
#blinkfuck{
    font-size: 67px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF10F0, 0 0 20px #FF10F0, 0 0 25px #FF10F0, 0 0 30px #FF10F0, 0 0 35px #FF10F0;
}