<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheetindex.css">
</head>
<body>

<div class="container-fluid" id="boks">
  <form action="/static" method="post">
    <title>Redirection</title>
    <h1 id="blinkfuck">Fuck ønskeskyen! </h1>
    <script type="text/javascript">
      var blink =
              document.getElementById('blinkfuck');

      setInterval(function () {
        blink.style.opacity =
                (blink.style.opacity == 0 ? 1 : 0);
      }, 1500);
    </script>

    <label type="login">Login</label>
    <input type="text" name="email" placeholder="Enter your email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" oninvalid="this.setCustomValidity('Invalid email: @ or . is missing')" onkeyup="setCustomValidity('')"> <br>
    <input type="text" name="email" placeholder="Enter your password">
    <button type="submit">Submit</button><br>
  </form>
</div>


</body>
</html>